body {
    display: grid;
    grid-template-columns: 40px 1fr 40px;
}

header {
    display: grid;
    grid-column-start: 2;
    text-align: center;
}

section {
    display: grid;
    grid-column-start: 2;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}

footer {
    display: grid;
    grid-column-start: 2;
    grid-template-columns: 1fr 1fr 1fr;
    border-top: 1px solid #000;
}

div {
    display: grid;
    grid-column-start: 2;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}
